.listItem {
  color: red;
  min-width: 300px;
  height: 150px;
  background-color: #ddd;
  margin: 10px;
  cursor: pointer;
  position: relative;

  &:hover {
    transform: scale(1.2);
  }

  .onHoverContainer {
    position: absolute;
    top: 75px;
    margin-left: 17px;

    .title {
      h3 {
        color: white;
        font-weight: bold;
        text-align: center;
      }
    }

    .iconsAndLimit {
      .icon {
        color: white;
        margin: 10px 5px;
        backdrop-filter: blur(16px) saturate(180%);
        -webkit-backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.75);
        border: 1px solid rgba(255, 255, 255, 0.125);
        width: 30px;
        height: 30px;

        &:hover {
          color: grey;
        }
      }

      span {
        position: relative;
        bottom: 17px;
        font-size: 15px;
      }
    }
  }

  .imgAndVideoContainer {
    img {
      width: 300px;
      height: 150px;
      object-fit: cover;
      border-radius: 5px;
    }

    video {
      width: 300px;
      height: 150px;
      object-fit: cover;
      border-radius: 5px;
    }
  }
}
