.list {
  width: 80vw;

  .container {
      margin-bottom: 5px;
    .heading {
      font-weight: 800;
      color: red;
      margin-left: 30px;
      margin-top: 10px;
      cursor: pointer;
      font-size: 20px;
    }
    .wrapper {
      display: flex;
      overflow: auto;

      &::-webkit-scrollbar-track {
        background-color: #e9b7b7;
      }

      &::-webkit-scrollbar {
        width: 0px;
        height: 10px;
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgb(245, 38, 55);
      }
    }
  }
}
